<div class="py-10 flex justify-center w-full">
  <div *ngIf="todos.length === 0; else elseBlock">No Data found</div>

  <ng-template #elseBlock>
    <table>
      <thead>
        <tr class="flex space-x-16">
          <th>Todo Name</th>
          <th>Due Date</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr class="flex space-x-10" *ngFor="let todo of todos">
          <td>{{ todo.todoName }}</td>
          <td>{{ todo.dueDate }}</td>
          <td class="px-10">
            {{ todo.isCompleted ? "True" : "False" }}
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
