<div class="mainDiv">
  <div class="innerDiv">
    <div class="content-center">
      <h1 class="heading">SignUp</h1>
      <div class="mt-1 text-red-500 formErrors" *ngIf="form.errors">
        <p class="mt-1 formErrors">*All fields Required in order to signUp.</p>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="signUp()">
      <div class="mt-5">
        <input
          type="type"
          name="firstName"
          formControlName="firstName"
          class="inputStyles"
          placeholder="firstName"
        />

        <div
          class="mt-1 text-red-500"
          *ngIf="firstName.touched && firstName.invalid"
        >
          <div *ngIf="firstName.errors.required">firstName is required</div>
        </div>
      </div>

      <div class="mt-5">
        <input
          type="type"
          name="lastName"
          formControlName="lastName"
          class="inputStyles"
          placeholder="lastName"
        />

        <div
          class="mt-1 text-red-500"
          *ngIf="lastName.touched && lastName.invalid"
        >
          <div *ngIf="lastName.errors.required">lastName is required</div>
        </div>
      </div>

      <div class="mt-5">
        <input
          type="date"
          name="dateOfBirth"
          formControlName="dateOfBirth"
          class="inputStyles"
          placeholder="Date of Birth"
        />

        <div
          class="mt-1 text-red-500"
          *ngIf="dateOfBirth.touched && dateOfBirth.invalid"
        >
          <div *ngIf="dateOfBirth.errors.required">
            date of Birth is required
          </div>
        </div>
      </div>

      <div class="mt-5">
        <input
          type="email"
          name="email"
          formControlName="email"
          class="inputStyles"
          placeholder="Email"
        />

        <div class="mt-1 text-red-500" *ngIf="email.touched && email.invalid">
          <div *ngIf="email.errors.required">email address is required</div>
          <div *ngIf="email.errors.email">valid email is required</div>
        </div>
      </div>

      <div class="mt-5">
        <input
          type="password"
          name="password"
          formControlName="password"
          class="inputStyles"
          placeholder="Password"
        />
        <div class="errorMessage" *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors.required">password is required</div>
          <div *ngIf="password.errors.minlength">
            password should be at least 8 characters long
          </div>
        </div>
      </div>

      <div class="mt-5">
        <button class="loginUpBtn" [disabled]="form.invalid">SignUp</button>
      </div>
    </form>
  </div>
</div>
