<div class="px-10">
  <section class="mainSection">
    <div class="lg:w-7/12 firstDiv">
      <div>
        <h1 class="header">
          Lets help you keep track of your daily activities
        </h1>
      </div>
    </div>
    <div class="mt-5">
      <img
        class="rounded-lg"
        src="../../../assets/eden-constantino-OXmym9cuaEY-unsplash.jpg"
        alt="eden-constantino-iJg1YzsEfqo-unsplash.jpg"
        width="550"
        height="100"
      />
    </div>
  </section>

  <section class="section2 md:w-5/6 md:h-4/5 lg:w-5/6">
    <div class="px-4 py-3">
      <h1 class="heading2">How is works?</h1>

      <p class="paragraph1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        omnis odio aperiam animi quo nemo voluptas commodi, temporibus sit ex ut
        minus, corporis aspernatur illum iusto consequatur nesciunt inventore
        dolorum velit ullam est! Eius animi quas architecto, esse reprehenderit
        harum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
        voluptate magnam, deserunt repudiandae tempore tempora et reprehenderit
        iusto architecto minima corporis esse minus blanditiis sit, aliquid,
        nesciunt quam quo eligendi?
      </p>

      <div class="devForSignUpBtn">
        <a routerLink="/signup" class="signUpBtnStyles">Sign Up </a>
      </div>
    </div>
  </section>
</div>
