<div class="mainDiv">
  <div class="innerDiv">
    <div class="content-center">
      <h1 class="heading">Login</h1>
    </div>

    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="formErrorsDiv" *ngIf="form.errors">
        Email Address and Password is required.
      </div>
      <div class="mt-5">
        <input
          type="email"
          name="email"
          formControlName="email"
          class="inputStyles"
          placeholder="Email Address"
        />

        <div class="errorMessage" *ngIf="email.touched && email.invalid">
          <div *ngIf="email.errors.required">email address is required</div>
          <div *ngIf="email.errors.email">valid email is required</div>
        </div>
      </div>
      <div class="mt-5">
        <input
          type="password"
          name="password"
          formControlName="password"
          class="inputStyles"
          placeholder="Password"
        />
        <div class="errorMessage" *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors.required">password is required</div>
          <div *ngIf="password.errors.minlength">
            password should be at least 8 characters long
          </div>
        </div>
      </div>

      <div class="mt-5">
        <button class="loginUpBtn">Login</button>
      </div>
    </form>
  </div>
</div>
